﻿@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h3>About the Project and the Author</h3>

    <p></p><h5>
    My name is Alexander Nguyen and this application was created so that I could further my knowledge and experience.
    Microsoft Visual Studio's Asp.net MVC project was used as a base and was then expanded upon and customized into its current form.


</h5><p></p>
    <img src="http://i.imgur.com/wYSPZbO.png" height="278" width="204">
</div>