﻿@{
    ViewBag.Title = "Questions and Feedback";
}
<h2>Contact Information</h2>
<h4>Please direct any and all questions and feedback to the following addresses.</h4>
<address>
    2413 Fish Hatchery Rd. Apt B<br />
    Madison, WI 53713<br />
    <abbr title="Phone Number">P:</abbr>
    812-650-2036
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:alenguye@gmail.com">AleNguye@gmail.com</a><br />
</address>