﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Favorite Band Census App</h1>
    <p class="lead">Welcome to the Favorite Band Census App. This application allows users to create, view, and edit a list of individuals and keep track of what some of their favorite bands are.</p>

</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If this is your first time using the Favorite Band Census App, press the Begin button to load some example users and view them.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Begin", "Initialize", "People") </a></p>
    </div>

</div>
