﻿@model WaMS.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        </br>
        <hr />
        <dd>
            Fan of Band
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandFan1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandFan1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandFan2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandFan2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandFan3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandFan3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandFan4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandFan4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandFan5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandFan5)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
