﻿@model IEnumerable<WaMS.Models.Person>

@{
    ViewBag.Title = "ExtendedIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Person", "Create") |  @Html.ActionLink("Regular View", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandFan1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandFan2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandFan3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandFan4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandFan5)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandFan1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandFan2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandFan3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandFan4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandFan5)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
        </td>
    </tr>
}

</table>
