﻿@model WaMS.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fancounter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fancounter) fans
        </dd>
        <dt>

        <dt>
            Fan Names
        </dt>

        @foreach (var item in Model.Fans)
            {
            <dd>
               @Html.ActionLink(item.FirstName +" "+ item.LastName, "DetailsPerson", new { id = item.PersonID })
            </dd>
        }

    </dl>
</div>

<p>
    <!--  @Html.ActionLink("Edit", "Edit", new { id = Model.BandID }) |-->
    @Html.ActionLink("Back to List", "Index")
</p>
