﻿@model IEnumerable<WaMS.Models.Band>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <!-- @Html.ActionLink("Create New", "Create") -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BandName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fancounter)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BandName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.fancounter)
        </td>
        <td>
            <!--   @Html.ActionLink("Edit", "Edit", new { id=item.BandID }) |-->
            @Html.ActionLink("Band Details", "Details", new { id=item.BandID }) 
            <!-- | @Html.ActionLink("Delete", "Delete", new { id=item.BandID })-->
        </td>
    </tr>
}

</table>
