﻿@model IEnumerable<WaMS.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Fans</h2>

<p>
    @Html.ActionLink("Add New Person", "Create") |  @Html.ActionLink("Expanded View", "ExtendedIndex")
</p>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

        </tr>
    }

</table>
